.imagem{
    border-radius: 15px;
    margin: 10px;
    size: 10px;
    border: 2px solid;
    align-items: center;
}    

.links {
    color: red;
    display: flex;
    margin-right: auto;
}

@import url('https://fonts.cdnfonts.com/css/sunday-brunch');

body {
    font-family: 'Qakergu', sans-serif;
    background-color: black;
    background-image:linear-gradient(to right, red, blue)
}

.cabecalho h1 {
    margin-left: 10px;
}

.cabecalho h3 {
    margin-left: 10px;
}

.cabecalho a {
    margin-left: 30px;
    color: whitesmoke;
    text-align: center;
}

.corpo a {
    margin-left: 25px;
}

.corpo img {
    margin-left: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Requisitos {
    margin-left: 30px;
    align-items: center;
    color: whitesmoke;
    background-color:rgba(0, 0, 0, 0.185) ;
    background-position:inherit;
    border: 2px solid black;
}

.titulo-download {
    text-align: center;
    color:white;
}

.titulo-menor-download {
    text-align: center;
    color: white;
}

.menu {
    text-align: center;
    align-items: center;
    padding-left: 45%;
    margin: -10px;
}