.FotoTitulo {
    margin-left: 40%;
    margin-top: 10px;
    border-radius: 15px;
}
.Titulo-Principal {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.Titulo-Menor {
    text-align: center;
    line-height: 1px;
}

.Links {
    
    color: rgb(255, 0, 0);
    margin-left: 40px;
    padding-left: 20px;
    
}

body {
    background-color:whitesmoke;
    font-family: 'Qakergu', sans-serif;
}

.cabecalho {
    background-color: antiquewhite;
    border: 4px solid antiquewhite;
    border-radius: 10px;
}

.cabecalho {
    margin-top: 100px;
}